* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #F9F5F5;
    gap: 50px;
}

h1 {
    text-align: center;
    font-size: 80px;
    margin: 40px;
}

.content {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
    gap: 30px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttons button {
    flex-basis: auto;
}

.grid {
    display: grid;
border: 1px solid black;
height: 500px;
width: 500px;
}

.place-holder {
    width: 100px;
    height: 100px;
}