* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #F9F5F5;
    gap: 50px;
}

h1 {
    text-align: center;
    font-size: 80px;
    margin: 40px;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 175px;
}

.buttons > button {
    font-size: medium;
    border: 1px solid grey;
    border-radius: 8px;
    padding:8px 15px;
    width: 100%;
}

.buttons > div {
    font-size: medium;
    padding: 0 5px;
    width: 100%;
}

input[type ="color"] {
    width: 75px;
    height: 75px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: inherit;
}


input[type = "color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

input[type = "color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type = "range"] {
    width: 100%;
}


.grid-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.grid-size label {
    font-size: large;
    font-weight: bold;
}

.grid {
    display: grid;
border: 1px solid black;
height: 500px;
width: 500px;
}

.place-holder {
    width: 100px;
    height: 100px;
}